In [1]:
import pandas as pd
import numpy as np

In [3]:
df_disclosure = pd.read_csv('./data/popularity/disclosure_full.csv')
df_support = pd.read_csv('./data/popularity/support_full.csv')

In [7]:
### Categorising by Std Deviation ###

df_disclosure_mean = df_disclosure['score'].mean()
df_disclosure_std = df_disclosure['score'].std()

df_disclosure_1 = df_disclosure_mean + df_disclosure_std
df_disclosure_0 = df_disclosure_mean - df_disclosure_std

def apply_std_dev(x):
    if x >= df_disclosure_1:
        return 1
    elif x <= df_disclosure_0:
        return 0
    else:
        return np.nan

df_disclosure['popularity'] = df_disclosure['score'].apply(apply_std_dev)

In [10]:
# For std dev 1250
df_disclosure_drop = df_disclosure.dropna()
len(df_disclosure_drop)
df_disclosure_drop.to_csv('./data/popularity/disclosure_stddev.csv', index=False)

In [13]:
### Categorising by Mean ###

df_disclosure_mean = df_disclosure['score'].mean()

def apply_mean(x):
    if x > df_disclosure_mean:
        return 1
    elif x < df_disclosure_mean:
        return 0
    else:
        return np.nan

df_disclosure['popularity'] = df_disclosure['score'].apply(apply_mean)

In [14]:
df_disclosure_drop = df_disclosure.dropna()
print(len(df_disclosure_drop))
df_disclosure_drop.to_csv('./data/popularity/disclosure_mean.csv', index=False)

In [15]:
# For mean
print(len(df_disclosure_drop))

17473

In [11]:
### Categorising by Std Deviation ###

df_support_mean = df_support['score'].mean()
df_support_std = df_support['score'].std()

df_support_1 = df_support_mean + df_support_std
df_support_0 = df_support_mean - df_support_std

def apply_std_dev_support(x):
    if x >= df_support_1:
        return 1
    elif x <= df_support_0:
        return 0
    else:
        return np.nan

df_support['popularity'] = df_support['score'].apply(apply_std_dev_support)

In [12]:
df_support_drop = df_support.dropna()
print(len(df_support_drop))
df_support_drop.to_csv('./data/popularity/support_stddev.csv', index=False)

1250

In [16]:
### Categorising by Mean ###

df_support_mean = df_support['score'].mean()

def apply_mean_support(x):
    if x > df_support_mean:
        return 1
    elif x < df_support_mean:
        return 0
    else:
        return np.nan

df_support['popularity'] = df_support['score'].apply(apply_mean_support)

In [17]:
df_support_drop = df_support.dropna()
print(len(df_support_drop))
df_support_drop.to_csv('./data/popularity/support_mean.csv', index=False)

17473

In [ ]:
df_disclosure = pd.read_csv('./data/popularity/disclosure_mean.csv')
df_support = pd.read_csv('./data/popularity/support_mean.csv')

In [3]:
df = pd.read_csv('../data/popularity/mean_merge.csv')

In [4]:
def get_num_chars(x):
    return len(x)

def get_num_words(x):
    x_list = x.split(' ')
    return len(x_list)

In [5]:
df['num_words'] = df['full_text_x'].apply(get_num_words)
df['num_chars'] = df['full_text_x'].apply(get_num_chars)

In [6]:
df.head(2)

,full_text_x,Emotional_disclosure,Information_disclosure,score_x,emo_disc.1,emo_disc.2,emo_disc.3,emo_disc.4,info_disc.1,info_disc.2,...,Throughput.2_y,Throughput.3_y,Throughput.4_y,WorkTime.1_y,WorkTime.2_y,WorkTime.3_y,WorkTime.4_y,popularity_y,num_words,num_chars
0,'' Alot of people DONT think like that when t...,0,0,2,True,True,True,False,False,True,...,650,561,92,10,11,7,19,0,12,57
1,'Official' would be one way to describe it.,1,0,2,False,False,False,True,True,True,...,215,1950,3272,10,43,11,41,0,8,43